{# src/Gadi/SiteBundle/Resources/views/index.html.twig #}
  
{% extends "GadiSiteBundle::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block gadisite_body %}
 
  <h2>Ajout d'un cours</h2>
 
{% include "GadiSiteBundle:Site:formulaireCours.html.twig" %}
 
{% endblock %}