{# src/Gadi/SiteBundle/Resources/views/Site/voir.html.twig #}
 
{% extends "GadiSiteBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'un cours - {{ parent() }}
{% endblock %}
 
{% block gadisite_body %}
	 {% set i = 1 %}
     {%for url in Array_url%}
         <p><a href={{url}}> module{{i}}</a></p>
		 {% set i=i+1 %}
    {%endfor %}
 
     <p>
         <a href="{{ path('gadisite_accueil') }}" class="btn">
         <i class="icon-chevron-left"></i>
         Retour à l'accueil
         </a>
	 </p>
 
{% endblock %}