{# src/Gadi/SiteBundle/Resources/views/index.html.twig #}
  
{% extends "GadiSiteBundle::layout.html.twig" %}
 
{% block title %}
	 Accueil - {{ parent() }}
{% endblock %}
 
{% block gadisite_body %}
 
	 <h2>Bienvenue {{app.user.username}}</h2>
	 <p>
		 Vous ètes ici sur la page d'accueil du projet de gestion administrative
		 du département informatique crée par  le groupe 9
		 (BODIN Joris, CUTRONE Guillaume, MEUGNIOT Dylan, CHAMBAT Alexis, GRILLO Batiste).
	 </p>
 
{% endblock %}